body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin-top: 30px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#grupos,
#grupos_excluidos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#grupos h2,
#grupos_excluidos h2 {
    color: #333;
    margin-bottom: 10px;
    width: 100%;
}

#grupos p,
#grupos_excluidos p {
    background-color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: block;
    width: 300px;
    text-align: left;
}

#grupos_excluidos p {
    background-color: #ffc107;
    color: #333;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
}